@{
	Layout = null;
}
@model Registro

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Registro</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/iconos/icono.ico" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Usuarios_identity.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #212121; color:white;">

	<div class="min-vh-100 row m-0 text-center align-items-center justify-content-center">
		<div class="col-auto card" style="background-color:#1b1b1b;">


			<div class="row">
				<h3>Ingresa tus datos</h3>
			</div>
			<form method="post" asp-controller="Cuentas" asp-action="Registro" class=" w-100">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="card-body ">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label asp-for="Nombre"></label>
								<input asp-for="Nombre" class="form-control" />
								<span asp-validation-for="Nombre" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="ApellidoPaterno"></label>
								<input asp-for="ApellidoPaterno" class="form-control" />
								<span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="ApellidoMaterno"></label>
								<input asp-for="ApellidoMaterno" class="form-control" />
								<span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Email"></label>
								<input asp-for="Email" class="form-control" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Password"></label>
								<input asp-for="Password" class="form-control" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="ConfirmPassword"></label>
								<input asp-for="ConfirmPassword" class="form-control" />
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>

						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="Telefono"></label>
								<input asp-for="Telefono" value="" class="form-control" />
								<span asp-validation-for="Telefono" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Celular"></label>
								<input asp-for="Celular" value="" class="form-control" />
								<span asp-validation-for="Celular" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Direccion"></label>
								<input asp-for="Direccion" class="form-control" />
								<span asp-validation-for="Direccion" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="FechaNacimiento"></label>
								<input asp-for="FechaNacimiento" value="" class="form-control" />
								<span asp-validation-for="FechaNacimiento" class="text-danger"></span>
							</div>


						</div>
					</div>
				</div>
				<div class="row mt-3">
					<button type="submit" id=edad class="btn btn-success">Ingresar</button>
				</div>
			</form>

		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}


</body>
</html>
