@using Usuarios_identity.ViewModels
@model CambioPasswordViewModel
@{
    ViewData["Title"] = "Cambio de contraseña";
}

<h1>Cambio de contraseña</h1>

<form method="post" asp-controller="Ediciones" asp-action="CambiarPassword" class=" w-100">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<div class="card-body  border border-warning mt-5">
		<div class="row">
			<div class="col-6">
				<input type="hidden" asp-for="Id" />

				<div class="form-group">
					<label asp-for="Password"></label>
					<input asp-for="Password" value="" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				
			</div>
			<div class="col-6">
				<div class="form-group">
					<label asp-for="ConfirmPassword"></label>
					<input asp-for="ConfirmPassword" value="" class="form-control" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
				

			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6">
			<a class="btn btn-danger w-100" asp-action="Index" asp-controller="Home">Cancelar</a>

		</div>
		<div class="col-6">

			<button type="submit" id=edad class="btn btn-success w-100">Editar</button>
		</div>
		
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
